body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.header,
.content {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
}

.header,
.content,
.info,
.content,
.quote,
.signup,
.footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  justify-content: space-between;
}

.headerlogo {
  display: flex;
  align-items: center;
}

.headerlinks {
  display: flex;
  align-items: center;
  padding-right: 2.5%;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.content img {
    border: 5px solid #e5e7eb;;
    border-radius: 0.5em;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.overview {
  max-width: 40em;
}

.signuptop {
  color: #f9faf8;
  background-color: #3882f6;
  border: 0px;
  border-radius: 0.5em;
  padding: 8px 16px 8px 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infotitle {
  font-size: 24px;
}

.infoimage {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  flex-wrap: wrap;
}

.infoimage img {
  border: 5px solid #3882f6;
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.infoimage p {
  max-width: 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  background-color: #e5e7eb;
}

.quoteflex {
    width: 600px;
    margin: auto;
}

.shaqquote {
  text-align: center;
}

.shaq {
text-align: right;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 50px 100px 50px 100px;
    border-radius: 2em;


}

.footer {
  margin-top: auto;
  background-color: #e5e7eb;
  padding-top: 20px;
  padding-bottom: 20px;
}
